{% if request.params['id'] %}
  
  {% fetchxml society %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true" >
      <entity name="contact" >
        <filter>
          <condition attribute="contactid" operator="eq" value="{{user.id}}" />
        </filter>
        <link-entity name="account" from="accountid" to="parentcustomerid" alias="account">
          <attribute name="accountid" />
        </link-entity>
      </entity>
    </fetch>
  {% endfetchxml %}

  {% assign society_id = society.results.entities[0]['account.accountid'] %}

  {% fetchxml gesionnaireContracts %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true">
      <entity name="acq_contrats">
        <attribute name="acq_contratsid" />
        <filter>
          <condition attribute="acq_gestionnairedubien" operator="eq" value="{{user.id}}" />
        </filter>
        <order attribute="createdon" descending="true" />
      </entity>
    </fetch>
  {% endfetchxml %}

  {% fetchxml societyContracts %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true" >
      <entity name="acq_contrats" >
        <attribute name="acq_contratsid" />
        <filter type="or" >
          <condition entityname="acq_acq_contrats_account" attribute="accountid" operator="eq" value="{{society_id}}" />
          <condition entityname="account" attribute="primarycontactid" operator="eq" value="{{user.id}}" />
        </filter>
        <order attribute="createdon" descending="true" />
        <link-entity name="acq_acq_contrats_account" from="acq_contratsid" to="acq_contratsid" intersect="true" >
          <link-entity name="account" from="accountid" to="accountid" />
        </link-entity>
      </entity>
    </fetch>
  {% endfetchxml %}

  {% fetchxml contactContracts %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true" >
      <entity name="acq_contrats" >
        <attribute name="acq_contratsid" />
        <filter>
          <condition entityname="acq_acq_contrats_contact" attribute="contactid" operator="eq" value="{{user.id}}" />
        </filter>
        <link-entity name="acq_acq_contrats_contact" from="acq_contratsid" to="acq_contratsid" intersect="true" />
      </entity>
    </fetch>
  {% endfetchxml %}

  {% assign allContracts = '' %}

  {% for contract in gesionnaireContracts.results.entities %}
    {% assign allContracts = allContracts | append: contract.acq_contratsid | append: ',' %} 
  {% endfor %}

  {% for contract in societyContracts.results.entities %}
    {% assign allContracts = allContracts | append: contract.acq_contratsid | append: ',' %} 
  {% endfor %}

  {% for contract in contactContracts.results.entities %}
      {% assign allContracts = allContracts | append: contract.acq_contratsid | append: ',' %}
  {% endfor %}

  {% assign array = allContracts | split: ',' %}
  {% assign tags = array[1] %}

  {% for item in array %}
    {% unless tags contains item %}
      {% capture tags %}{{tags}}|{{item}}{% endcapture %}
    {% endunless %}
  {% endfor %}

  {% assign allContracts = tags | split: '|' %}

  {% fetchxml contracts %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true" >
      <entity name="acq_contrats">
        <all-attributes />
        <filter type="or">
          {% for contract in allContracts %}
            <condition attribute="acq_contratsid" operator="eq" value="{{contract}}" />
          {% endfor %}
        </filter>
        <order attribute="createdon" descending="true" />
      </entity>
    </fetch>
  {% endfetchxml %}

  {% assign contractId = request.params['id'] %}
  {% assign parentalLot = request.params['parent'] %}
  
  {% fetchxml lots %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true">
      <entity name="acq_lot">
        <all-attributes />
        <filter>
          <condition entityname="acq_acq_contrats_acq_lots" attribute="acq_contratsid" operator="eq" value="{{contractId}}" />
        </filter>
        <link-entity name="acq_acq_contrats_acq_lots" from="acq_lotid" to="acq_lotid" intersect="true" />
        <link-entity name="acq_tranche" from="acq_trancheid" to="acq_tranche" alias="tranche" >
          <all-attributes/>
          <link-entity name="acq_programmes" from="acq_programmesid" to="acq_programme" alias="programme" >
            <all-attributes/>
          </link-entity>
        </link-entity>
      </entity>
    </fetch>
  {% endfetchxml %}

{% endif %}

<div class="page-header-wrapper">
  <div class="container">
    <div id="block-pagetitle" class="block block-core block-page-title-block block-page-title">
      <h1 class="page-title">Mes documents</h1>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <div class="container">
    <div class="block-system-content block-documents-content">
      <div class="row clearfix">
        <div class="content-col">
          <div class="documents-content">
            <div class="select-contract-wrapper">
              <div class="select-contract">
                <h3 class="select-contract-title">Choix du contrat</h3>
                <select class="form-control form-select chosen-disable" data-drupal-selector="edit-field-subject-authenticated" id="edit-field-subject-authenticated" name="field_subject_authenticated">
                  
                  {% for contract in contracts.results.entities %}
                    {% if forloop.first %}
                      {% for contract_bis in contracts.results.entities %}
                        {% if contract_bis.acq_contratsid == contractId %}
                          <option value="{{contract_bis.acq_contratsid}}" parentalLot="{{contract_bis.acq_lotprincipal.id}}">{{contract_bis.acq_name}}</option>
                          {% break %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    {% unless contract.acq_contratsid == contractId %}
                      <option value="{{contract.acq_contratsid}}" parentalLot="{{contract.acq_lotprincipal.id}}">{{contract.acq_name}}</option>
                    {% endunless %}
                  {% endfor %}

                </select>
              </div>
            </div>
            <div class="documents-row">
              <div class="documents-box documents-box-doc-achat">
                <h4 class="documents-label">MES DOCUMENTS D’ACHAT</h4>
                <div class="documents-list"></div>
                <div class="loader"></div>
              </div>
              <div class="documents-box documents-box-doc-programme">
                <h4 class="documents-label">INFORMATIONS PROGRAMME</h4>
                <div class="documents-list"></div>
                <div class="loader"></div>
              </div>
            </div>
            {% for lot in lots.results.entities %}  
              {% if lot.acq_typedelot.label == 'Maison' or lot.acq_typedelot.label == 'Appartement' %}
                <h3>Documents du <span>{{lot.acq_idlot}}</span></h3>
                <div class="documents-row" data-lot-id="{{lot.acq_lotid}}">
                  <div class="documents-box documents-box-plan">
                    <h4 class="documents-label">PLANS</h4>
                    <div class="documents-list"></div>
                    <div class="loader"></div>
                  </div>
                  <div class="documents-box documents-box-choix">
                    <h4 class="documents-label">MES CHOIX</h4>
                    <div class="documents-list"></div>
                    <div class="loader"></div>
                  </div>
                  <div class="documents-box documents-box-tma">
                    <h4 class="documents-label">MES TMAS</h4>
                    <div class="documents-list"></div>
                    <div class="loader"></div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}  
          </div>
        </div>
        <div class="sidebar-col">
          <div class="aside-contact aside-faq aside-actions-before">
            <div class="faq-actions">
            </div>
            <div class="aside-label">FAQ</div>
            <div class="title">Vous avez des questions ?</div>
            <div class="faq-items">
              <div class="item faq">
                <div class="item-label"><a href="https://www.mon-cogedim.com/faq"><span>FAQ générale</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>