<head>
  <style type="text/css">

    body{
      background: #fcf9fc;
    }

    textarea{
      background: white;
    }

    .tab-column table{
      width: 100%;
    }

  </style>
</head>

{% if request.params['subject'] %}
  {% assign subject = request.params['subject'] %}
  {% assign subjectId = request.params['subjectId'] %}
  {% assign contractId = request.params['contractId'] %}
  {% assign origine_id = request.params['origine_id'] %}
  {% assign contractName = request.params['contractName'] %}
  {% assign origine_name = request.params['origine_name'] %}
  {% assign precedent_id = request.params['precedent_id'] %}
  {% assign precedent_name = request.params['precedent_name'] %}
{% endif %}

<div class="msg-form">
  {% entityform name: 'cgd_send_message' %}
</div>

<script type="text/javascript">

  $(document).ready(function(){

    {% if subject %}

      $('#description').addClass('form-textarea resize-vertical');
      $('#acq_sujet').addClass('form-control form-text chosen-disable');
      $('#InsertButton').addClass('button js-form-submit form-submit');

      //Add place holder in the correct fiels
      $('#acq_sujet').attr('placeholder', 'Écrivez un sujet');
      $('#description').attr('placeholder', 'Saisissez votre message…');
      
      //Auto populate fields
      $('#acq_sujet').val('{{subjectId}}');
      $('#acq_messageorigine_name').attr('value', '{{origine_name}}');
      $('#acq_messageorigine').attr('value', '{{origine_id}}');
      $('#acq_messageprecedent_name').attr('value', '{{precedent_name}}');
      $('#acq_messageprecedent').attr('value', '{{precedent_id}}');
      $('#acq_messageprecedent_entityname, #acq_messageorigine_entityname').attr('value', 'acq_message');

      //Set hide lookup field to link selected contract to the message (only on Contact us page)
      $('#acq_contrat_name').attr('value', '{{contractName}}');
      $('#acq_contrat').attr('value', '{{contractId}}');
      $('#acq_contrat_entityname').attr('value', 'acq_contrats');

      //Change settings of radio buttons
      $('#acq_direction_0').removeAttr('checked');
      $('#acq_direction_1').prop("checked", true);

      //Hide some fields
      $('#subject').parents('tr:first').css('display', 'none');
      $('#acq_sujet').parents('tr:first').css('display', 'none');
      $('#acq_contrat_name').parents('tr:first').css('display', 'none');
      $('#acq_webuser_name').parents('tr:first').css('display', 'none');
      $('#acq_direction_label').parents('tr:first').css('display', 'none');
      $('#acq_messageorigine_name').parents('tr:first').css('display', 'none');
      $('#acq_messageprecedent_name').parents('tr:first').css('display', 'none');
      $('td.form-control-cell.datetime').parents('tr:first').css('display', 'none');
      $('#acq_messageprecedent_name').parents('tr:first').next().css('display', 'none');

      $('#description').parents('.tab-column').next().remove()

    {% endif %}

    $('#liquid_form').bind('ajax:complete', function(){
      window.parent.location.href = 'https://cogedimacq.microsoftcrmportals.com/cgd_messages/';
    });
  });

</script>