<script type="text/javascript">
  if(getCookie('isCacheEmpty') == 'true'){
    setCookie('isCacheEmpty', false, 7);
  }
  else{
    setCookie('isCacheEmpty', true, 7);
    window.location.reload(true);
  }
</script>

{% assign contactus_url = sitemarkers['Contact Us'].url %}
{% assign documents_url = sitemarkers['Documents'].url %}
{% assign home_url = sitemarkers['Home'].url %}

{% if request.params['contractId'] %}

  {% assign contractId = request.params['contractId'] %}

  {% fetchxml lots %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true" >
      <entity name="acq_lot">
        <all-attributes />
        <filter>
          <condition attribute="acq_lot" operator="eq" value="{{contractId}}" />
        </filter>
        <link-entity name="acq_tranche" from="acq_trancheid" to="acq_tranche" alias="tranche" >
          <all-attributes/>
          <link-entity name="acq_programmes" from="acq_programmesid" to="acq_programme" alias="programme" >
            <all-attributes/>
          </link-entity>
        </link-entity>
      </entity>
    </fetch>
  {% endfetchxml %}

  {% assign cpt = 1 %}
  {% assign contractLots = '' %}
  {% assign trancheName =  lots.results.entities[0]['tranche.acq_name'] %}
  {% assign RRCName = lots.results.entities[0]['programme.ownerid_owneridyominame'] %}
  {% assign programName =  lots.results.entities[0]['programme.acq_name'] %}
  {% assign programAddress = lots.results.entities[0]['programme.acq_adresse1'] %}
  {% assign programCity =  lots.results.entities[0]['programme.acq_ville'] %}
  {% assign programPostCode = lots.results.entities[0]['programme.acq_codepostal'] %}

{% endif %}

<div class="contrat-slider-wrapper">
  <div class="container">
    <h1>{{contractId}}</h1>
    <div class="block-contrat-slider">
      <div class="contrat-slider-panel">
        <div class="contrat-slide slick-slide" data-slick-index="-1" aria-hidden="true" style="width: 946px;" tabindex="-1">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentation_6.jpg" alt="" typeof="foaf:Image">
          </div>
        </div>
        <div class="contrat-slide slick-slide" data-slick-index="0" aria-hidden="true" style="width: 946px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentationn_17.jpg" alt="" typeof="foaf:Image">
          </div>
        </div>
        <div class="contrat-slide slick-slide" data-slick-index="1" aria-hidden="true" style="width: 946px;" tabindex="-1" role="option" aria-describedby="slick-slide01">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentation_15.jpg" alt="" typeof="foaf:Image">
          </div>
        </div>
        <div class="contrat-slide slick-slide" data-slick-index="2" aria-hidden="true" style="width: 946px;" tabindex="-1" role="option" aria-describedby="slick-slide02">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentation_22.jpg" alt="" typeof="foaf:Image">
          </div>      
        </div>
        <div class="contrat-slide slick-slide" data-slick-index="3" aria-hidden="true" style="width: 946px;" tabindex="-1" role="option" aria-describedby="slick-slide03">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentation_19.jpg" alt="" typeof="foaf:Image">
          </div>
        </div>
        <div class="contrat-slide slick-slide" data-slick-index="4" aria-hidden="false" style="width: 946px;" tabindex="-1" role="option" aria-describedby="slick-slide04">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentation_18.jpg" alt="" typeof="foaf:Image">
          </div>
        </div>
        <div class="contrat-slide slick-slide" data-slick-index="5" aria-hidden="true" style="width: 946px;" tabindex="-1" role="option" aria-describedby="slick-slide05">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentation_20.jpg" alt="" typeof="foaf:Image">
          </div>
        </div>
        <div class="contrat-slide slick-slide" data-slick-index="6" aria-hidden="true" style="width: 946px;" tabindex="-1" role="option" aria-describedby="slick-slide06">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentation_21.jpg" alt="" typeof="foaf:Image">
          </div>
        </div>
        <div class="contrat-slide slick-slide" data-slick-index="7" aria-hidden="true" style="width: 946px;" tabindex="-1" role="option" aria-describedby="slick-slide07">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentation_6.jpg" alt="" typeof="foaf:Image">
          </div>
        </div>
        <div class="contrat-slide slick-slide" data-slick-index="8" aria-hidden="true" style="width: 946px;" tabindex="-1">
          <div class="image">
            <img src="http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentationn_17.jpg" alt="" typeof="foaf:Image">
          </div>
        </div>
      </div>
      <div class="info">
        <div class="info-col col-1">
          <div class="title">{{programName}}</div>
          <address class="address">
            {{programAddress}}<br>
            <span>{{programPostCode | append: ' - ' | append: programCity}}</span>
          </address>
          <div class="action hidden-xs hidden-sm">
            <a href="{{contactus_url}}" class="btn btn-consult">Contactez-nous</a>
          </div>
        </div>
        <div class="info-col col-2">
          <ul class="links">
            <li>
              <a href="http://altarea-cogedim.live.evimmo.fr/services/cogedim/iframe?p=42651" class="0" target="_blank">La résidence en 3D<span class="0"><span class="element-invisible"> </span></span></a>
            </li>
            <li>
              <a href="/document/download/18280____BRO__160630" target="_blank">Télécharger la brochure</a>
            </li>
          </ul>
          <div class="action hidden-md hidden-lg">
            <a href="{{contactus_url}}" class="btn btn-consult">Contactez-nous</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% for lot in lots.results.entities %}
  {% assign actualLot = lot.acq_idlot | string %}
  {% assign parentalLot = lot.acq_lotparent.name | string %}
  
  {% if parentalLot == '' %}
    <div class="contrat-lots-wrapper">
      <div class="container">
        <div class="block-contrat-lots">
          <div class="contrat-lot {% if forloop.first %}expanded{% endif %}">
            <h3 class="lot-title">
              <span class="title">{{lot.acq_typedelot.label}}</span>
              <span class="num">{{lot.acq_idlot}}</span>
            </h3>
            <div class="lot-info">
              <div class="info">
                <div class="info-col description">
                  <h4 class="title">Fiche d’identité</h4>
                  <div class="specification">
                    <ul>
                      <li>
                        <span class="spec-label"><b>Surface</b></span>
                        <span class="spec-value">{{lot.acq_surface | round: 2 | string}} m<sup>2</sup></span>
                      </li>
                    </ul>
                  </div>
                  {% for lotbis in lots.results.entities %}
                    {% assign parentalLot = lotbis.acq_lotparent.name | string %}
                    {% unless parentalLot == '' %}
                      <div class="additional">
                        <div class="item">{{lotbis.acq_typedelot.label | append: ' (' | append: lotbis.acq_idlot | append: ')'}}</div>
                      </div>
                    {% endunless %}
                  {% endfor %}
                </div>
                <div class="info-col plans">
                  <h4 class="title">Mes Plans</h4>
                  <div class="downloads">
                    <ul>
                    </ul>
                  </div>
                </div>
                <div class="info-col choix">
                  <h4 class="title">Mes Prestations</h4>
                  <div class="downloads">
                    <ul>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

<div class="contrat-info-wrapper">
  <div class="container">
    <div class="block-contrat-info">
      <div class="content">
        <div class="info-box documents">
          <h4 class="title h4-min">Mes Documents D’achat</h4>
          <div class="downloads">
            <ul>
              <li>
                <a href="/document/download/18280-990001-1_ATV_NA_161221" target="_blank"><span>Attestation d’acte de vente</span></a>
                <a href="/document/download/18280-990001-1_ATV_NA_161221" class="download" target="_blank">Télécharger</a>
              </li>
              <li>
                <a href="/document/download/18280-990001-1_ATV_NA_161222" target="_blank"><span>Attestation d’acte de vente</span></a>
                <a href="/document/download/18280-990001-1_ATV_NA_161222" class="download" target="_blank">Télécharger</a>
              </li>
            </ul>
          </div>
          <div class="actions">
            <a href="{{documents_url}}" class="btn btn-primary">Tous mes documents</a>
          </div>
        </div>
        <div class="info-box financial">
          <h4 class="title h4-min">Mon Suivi Financier</h4>
          <div class="specification">
            <ul>
              <li>
                <span class="spec-label">Total contrat</span>
                <span class="spec-value">450 000 €</span>
              </li>
              <li>
                <span class="spec-label">Cumul appels de fonds émis</span>
                <span class="spec-value">0 €</span>
              </li>
              <li>
                <span class="spec-label">Total déjà versé</span>
                <span class="spec-value">0 €</span>
              </li>
            </ul>
          </div>
          <div class="actions">
            <a href="https://www.mon-cogedim.com/financial/18280-990001-1" class="btn btn-primary">Voir le Détail</a>
          </div>
        </div>
        <div class="info-box modifications">
          <h4 class="title h4-min">Mes Personnalisations</h4>
          <div class="downloads">
            <ul>
                <div class="empty">Vous n'avez pas encore de personnalisation</div>

            </ul>
          </div>
          <div class="actions">
            <a href="{{documents_url}}" class="btn btn-primary">Tous mes documents</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contrat-additional-wrapper">
  <div class="container">
    <div class="block-contrat-additional">
      <div class="content">
        <div class="additional-box">
          <h4 class="title h4-min">Des questions ?</h4>
          <div class="additional-icon">
            <a href="https://www.mon-cogedim.com/faq" class="icon-faq">Consulter la FAQ</a>
          </div>
          <div class="actions">
            <a href="{{contactus_url}}" class="btn btn-primary">Contactez-nous</a>
          </div>
        </div>
        <div class="additional-box">
          <h4 class="title h4-min">Fiches pratiques</h4>
          <div class="additional-icon">
            <a href="https://www.mon-cogedim.com/fiches-pratiques" class="icon-documents">Tous nos conseils pour bien préparer chaque étape</a>
          </div>
          <div class="actions">
            <a href="https://www.mon-cogedim.com/fiches-pratiques" class="btn btn-primary">Toutes les fiches</a>
          </div>
        </div>
        <div class="additional-box">
          <h4 class="title h4-min">Parrainez vos proches</h4>
          <div class="additional-icon">
            <a href="https://www.mon-cogedim.com/sponsorship" class="icon-parrainage">Gagnez jusqu’à 2 000 € par filleul</a>
          </div>
          <div class="actions">
            <a href="https://www.mon-cogedim.com/sponsorship" class="btn btn-primary">Je Parraine</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cogedim-about-wrapper">
  <div id="block-views-block-autopromos-homepage-li-autopromos" class="block block-views block-views-blockautopromos-homepage-li-autopromos block-cogedim-about">
    <div class="view view-autopromos view-id-autopromos view-display-id-homepage_li_autopromos js-view-dom-id-f3e368c975463cf3356d58711b475bb87ced790346a1029e7cdcd2931ad86ae8">
      <div class="view-content">
        <div class="block-title">Cogedim c’est aussi…</div>
        <div class="content">
          <div class="views-row about-box">
            <article role="article" about="/gagnez-2-000eu-de-cadeaux" class="node node--type-autopromo node--view-mode-teaser-authenticated clearfix">
              <header></header>
              <div class="title">
                <a href="  https://mon-cogedim.com/sponsorship"><span class="field field--name-title field--type-string field--label-hidden">Gagnez 2 000€ de cadeaux</span></a>
              </div>
              <div class="text">
                <div class="field field--name-field-body field--type-string-long field--label-hidden field__item">Laissez-nous récompenser votre confiance en participant à notre programme de parrainage</div>
              </div>
            </article>
            <div class="more-link">
              <a href="https://mon-cogedim.com/sponsorship"><span class="hidden-md hidden-lg">En savoir plus</span></a>
            </div>
          </div>
          <div class="views-row about-box">
            <article role="article" about="/une-gestion-locative-sur-mesure-0" class="node node--type-autopromo node--view-mode-teaser-authenticated clearfix">
              <header></header>
              <div class="title">
                <a href="  /une-gestion-locative-sur-mesure"><span class="field field--name-title field--type-string field--label-hidden">Une gestion locative sur-mesure</span></a>
              </div>
              <div class="text">
                <div class="field field--name-field-body field--type-string-long field--label-hidden field__item">Vous investissez, Cogedim Gestion &amp; Services prend le relais !<br>Pour vous libérer des contraintes de logistiques, administratives et fiscales.</div>
              </div>
            </article>
            <div class="more-link">
              <a href="  /une-gestion-locative-sur-mesure"><span class="hidden-md hidden-lg">En savoir plus</span></a>
            </div>
          </div>
          <div class="views-row about-box">
            <article role="article" about="/personnalisez-votre-logement" class="node node--type-autopromo node--promoted node--view-mode-teaser-authenticated clearfix">
              <header></header>
              <div class="title">
                <a href="  /personnalisez-votre-logement-avec-les-options-et-les-tma"><span class="field field--name-title field--type-string   field--label-hidden">Personnalisez votre logement </span></a>
              </div>
              <div class="text">
                <div class="field field--name-field-body field--type-string-long field--label-hidden field__item">Au moment de la signature de votre  contrat de réservation, votre conseiller Cogedim vous a peut-être remis un catalogue vous présentant la liste des options proposées pour   votre logement. Les demandes hors catalogue pourront, dans certains cas, faire l’objet de Travaux Modificatifs Acquéreurs.</div>
              </div>
            </article>
            <div class="more-link">
              <a href="  /personnalisez-votre-logement-avec-les-options-et-les-tma"><span class="hidden-md hidden-lg">En savoir plus</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>