{% if request.params['id'] %}

  {% assign contractId = request.params['id'] %}

  {% fetchxml lots %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true">
      <entity name="acq_lot">
        <all-attributes />
        <filter>
          <condition attribute="acq_lot" operator="eq" value="{{contractId}}" />
        </filter>
        <order attribute="acq_lotparent" />
        <link-entity name="acq_tranche" from="acq_trancheid" to="acq_tranche" alias="tranche">
          <all-attributes />
          <link-entity name="acq_programmes" from="acq_programmesid" to="acq_programme" alias="programme">
            <all-attributes />
          </link-entity>
        </link-entity>
      </entity>
    </fetch>
  {% endfetchxml %}

{% endif %}

<div class="page-header-wrapper">
  <div class="container">
    <div id="block-pagetitle" class="block block-core block-page-title-block block-page-title">
      <h1 class="page-title">Mes documents</h1>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <div class="container">
    <div class="block-system-content block-documents-content">
      <div class="row clearfix">
        <div class="content-col">
          <div class="documents-content">
            <div class="documents-row">
              <div class="documents-box">
                <h4 class="documents-label">MES DOCUMENTS D’ACHAT</h4>
                <div class="documents-list">
                  <div class="item">
                    <a href="/document/download/18280-990001-1_ATV_NA_161222" target="_blank">Attestation d’acte de vente</a>
                  </div>
                  <div class="item">
                    <a href="/document/download/18280-990001-1_ATV_NA_161221" target="_blank">Attestation d’acte de vente</a>
                  </div>
                </div>
              </div>
              <div class="documents-box">
                <h4 class="documents-label">INFORMATIONS PROGRAMME</h4>
                <div class="documents-list">
                  <div class="item">
                    <a href="/document/download/18280____ANF__160623" target="_blank">Attestation NF Habitat</a>
                  </div>
                  <div class="item">
                    <a href="/document/download/18280____BRO__160630" target="_blank">Brochure</a>
                  </div>
                  <div class="item">
                    <a href="/document/download/18280____DH2__160623" target="_blank">Déclaration H2</a>
                  </div>
                </div>
              </div>
            </div>
            {% for lot in lots.results.entities %}  
              {% if lot.acq_typedelot.label == 'Maison' or lot.acq_typedelot.label == 'Appartement' %}
                <h3>Documents du <span>{{lot.acq_idlot}}</span></h3>
                <div class="documents-row">
                  <div class="documents-box documents-box-plan">
                    <h4 class="documents-label">PLANS</h4>
                    <div class="documents-list">
                      
                    </div>
                  </div>
                  <div class="documents-box">
                    <h4 class="documents-label">MES CHOIX</h4>
                    <div class="documents-list">
                      Vous n’avez pas encore de document disponible
                    </div>
                  </div>
                  <div class="documents-box">
                    <h4 class="documents-label">MES TMAS</h4>
                    <div class="documents-list">
                      Vous n’avez pas encore de document disponible
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}  
          </div>
        </div>
        <div class="sidebar-col">
          <div class="aside-contact aside-faq aside-actions-before">
            <div class="faq-actions">
            </div>
            <div class="aside-label">FAQ</div>
            <div class="title">Vous avez des questions ?</div>
            <div class="faq-items">
              <div class="item faq">
                <div class="item-label"><a href="https://www.mon-cogedim.com/faq"><span>FAQ générale</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>