<head>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/cgd_screen.css">
  <link rel="stylesheet" type="text/css" href="/theme_perso.css">
  <style type="text/css">

    body{
      background: #fcf9fc;
    }

    textarea{
      background: white;
    }

    .tab-column table{
      width: 100%;
    }

  </style>
</head>

{% if request.params['subject'] %}
  {% assign subject = request.params['subject'] %}
  {% assign origine_id = request.params['origine_id'] %}
  {% assign origine_name = request.params['origine_name'] %}
  {% assign precedent_id = request.params['precedent_id'] %}
  {% assign precedent_name = request.params['precedent_name'] %}
{% endif %}

<div class="msg-form">
  {% entityform name: 'cgd_send_message' %}
</div>

<script type="text/javascript">

  $(document).ready(function(){

    {% if subject %}

      $('#description').addClass('form-textarea resize-vertical');
      $('#subject').addClass('form-control form-text chosen-disable');
      $('#InsertButton').addClass('button js-form-submit form-submit');

      //Add place holder in the correct fiels
      $('#subject').attr('placeholder', 'Écrivez un sujet');
      $('#description').attr('placeholder', 'Saisissez votre message…');
      
      //Auto populate fields
      $('#subject').val('{{subject}}');
      $('#acq_messageorigine_name').attr('value', '{{origine_name}}');
      $('#acq_messageorigine').attr('value', '{{origine_id}}');
      $('#acq_messageprecedent_name').attr('value', '{{precedent_name}}');
      $('#acq_messageprecedent').attr('value', '{{precedent_id}}');
      $('#acq_messageprecedent_entityname, #acq_messageorigine_entityname').attr('value', 'acq_message');

      //Change settings of radio buttons
      $('#acq_direction_0').removeAttr('checked');
      $('#acq_direction_1').prop("checked", true);

      //Hide some fields
      $('#subject').parents('tr:first').css('display', 'none');
      $('#acq_webuser_name').parents('tr:first').css('display', 'none');
      $('#acq_direction_label').parents('tr:first').css('display', 'none');
      $('#acq_messageorigine_name').parents('tr:first').css('display', 'none');
      $('#acq_messageprecedent_name').parents('tr:first').css('display', 'none');
      $('td.form-control-cell.datetime').parents('tr:first').css('display', 'none');
      $('#acq_messageprecedent_name').parents('tr:first').next().css('display', 'none');

    {% endif %}
  });

</script>