{% assign contactus_url = sitemarkers['Contact Us'].url %} 

{% fetchxml orgiginMessages %}
  <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true">
    <entity name="acq_message">
      <all-attributes/>
      <filter>
        <condition attribute="acq_webuser" operator="eq" value="{{user.id}}" />
        <condition attribute="acq_messageorigine" operator="null" />
      </filter>
      <order attribute="createdon" />
    </entity>
  </fetch>
{% endfetchxml %}

<div class="page-header-wrapper">
  <div class="container">
    <div id="block-pagetitle" class="block block-core block-page-title-block block-page-title">
      <h1 class="page-title">Historique des messages</h1>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <div class="container">
    <div class="block-system-content block-messages-content">
      <div class="row clearfix">
        <div class="content-col">
          <div id="block-usermessages" class="block block-ce-message block-ce-message-user-messages">
            <div class="view view-messages view-id-messages view-display-id-default js-view-dom-id-641244950e85178eddb1dcdc9792f38ed48bb7e34ac8387c5f8a4d1047c9be70 messages-list">
              <div class="messages-header">
                <div class="info">
                  <div class="date">DATE</div>
                  <div class="subject">SUJET</div>
                  <div class="response">RÉPONSE</div>
                </div>
              </div>
              {% for message in orgiginMessages.results.entities %}
                <div class="message-row">
                  <div role="article" about="/rattacher-ses-contrats-5" class="node node--type-message node--view-mode-message clearfix info" data-message-id="201" id="message-201">
                    <div class="date">{{message.createdon | string | truncate: 10, ""}}</div>
                    <div class="subject"><span class="field field--name-title field--type-string field--label-hidden">{{message.acq_sujet.name}}</span>
                    </div>
                    <div class="response nothing-new">
                      <span class="open-text">Lire</span>
                      <span class="close-text">Fermer</span>
                      <span class="expand"></span>
                    </div>
                  </div>
                  <div class="message-data">
                    <div class="item" id="{{message.activityid}}" subject="{{message.acq_sujet.name}}" contractId="{{message.acq_contrat.id}}" contractName="{{message.acq_contrat.name}}" subjectId='{{message.acq_sujet.id}}'>
                      <div class="content">
                        <div class="field field--name-field-message field--type-string-long field--label-hidden field__item">{{message.description}}</div>
                      </div>
                    </div>

                    {% fetchxml linkedMessages %}
                      <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true">
                        <entity name="acq_message">
                          <attribute name="description" />
                          <attribute name="createdon" />
                          <attribute name="acq_sujet" />
                          <attribute name="activityid" />
                          <attribute name="acq_webuser" />
                          <attribute name="acq_direction" />
                          <attribute name="acq_messageorigine" />
                          <attribute name="acq_messageprecedent" />
                          <filter>
                            <condition attribute="acq_webuser" operator="eq" value="{{user.id}}" />
                            <condition attribute="acq_messageorigine" operator="eq" value="{{message.activityid}}" />
                          </filter>
                          <order attribute="createdon" />
                        </entity>
                      </fetch>
                    {% endfetchxml %}

                    {% for linkedMessage in linkedMessages.results.entities %}
                      <!-- <a id="linkedMessages.activityid"></a> -->
                      <div id="{{linkedMessage.activityid}}" subject="{{linkedMessage.acq_sujet.name}}" data-comment-user-id="173" class="js-comment item {% unless linkedMessage.acq_direction %}response{% endunless %}">
                        <mark class="hidden" data-comment-timestamp="1481816137"></mark>

                        {% unless linkedMessage.acq_direction %}
                          <div class="item-label">Geoffrey Raimbault a répondu</div>
                        {% endunless %}

                        <div class="content">
                          <div class="field field--name-field-message field--type-string-long field--label-hidden field__item">{{linkedMessage.description}}</div>
                        </div>
                      </div>
                    {% endfor %}
                    
                    <div class="message-form">
                      <iframe src="" class="messages-iframe"></iframe>
                      {% comment %} {% entityform name: 'cgd_send_message' %} {% endcomment %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="sidebar-col">
          <div id="block-rrcinformation" class="block block-ce-contact block-ce-contact-rrc-information">
            <div class="aside-contact">
              <div class="aside-thumb">
                <img src="/sites/default/files/styles/225x124_sc/public/2017-03/Geoffrey%20Raimbault_0.jpg?itok=JgiU7Ikg" alt="" typeof="foaf:Image" class="image-style-_25x124-sc" width="225" height="124">
              </div>
              <div class="aside-label">
                Votre Responsable Relation Client
              </div>
              <div class="title">Geoffrey Raimbault</div>
              <div class="contact-items">
                <div class="item phone">
                  <div class="item-label"><span>Tel</span></div>
                  <div class="item-value">+33 (0)2 51 86 00 20</div>
                </div>
                <div class="item schedule">
                  <div class="item-label"></div>
                  <div class="item-value">
                    Du lundi au vendredi de 9h à 12h30 et de 14h à 19h.
                  </div>
                </div>
              </div>
              <div class="faq-actions">
                <div class="item">
                  <a href="{{contactus_url}}" class="btn btn-consult-2">CONTACTEZ-NOUS</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>