body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 12px !important;
	line-height: 1.428571429 !important;
	color: #4d4d53 !important;
}

body[data-sitemap-state="/page-not-found/:/"] #block-pagetitle{
	margin-top: 65px;
}

textarea{
	background: white !important;
}

footer .container{
	padding-top: 50px !important;
}

footer .footer-top{
	background-color: white;
}

.messages-iframe{
	width: 100%;
	height: 271px;
}

#info-test, 
#InsertButton,
.change-email .btn, 
#submit-signin-local,
.change-password .btn,
#submit-forgot-password,
#ContentContainer_MainContent_MainContent_ContentBottom_SubmitButton{
	width: 100%;
	height: 54px;
	background: #a31a7e;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 37px;
}

#InsertButton,
.change-email .btn, 
#submit-signin-local, 
.change-password .btn,
#submit-forgot-password,
#ContentContainer_MainContent_MainContent_ContentBottom_SubmitButton{
	width: auto !important;
	padding: 12px 40px !important;
	text-transform: uppercase !important;
	margin-top: 10px !important;
}

.change-email .btn, 
.change-password .btn,
#ContentContainer_MainContent_MainContent_ContentBottom_SubmitButton{
	margin-bottom: 100px !important;
}

#submit-signin-local{
	width: 100% !important;
	margin-bottom: 38px !important;
}

#submit-forgot-password{
	width: 100% !important;
}

#acq_webuser_name{
	border-bottom-right-radius: 24px !important;
	border-top-right-radius: 24px !important;
}

#content .form-horizontal{
	max-width: 385px;
	position: relative;
	margin-bottom: 110px;
}

#content_form,
.form-horizontal{
	display: none;
}

#content_form .item-label,
.form-horizontal .item-label {
	margin-bottom: 5px;
	margin-left: 15px;
	color: #a31a7e;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.slick-prev, 
.slick-next{
	width: 30px !important;
	height: 40px !important;
	background: rgba(255, 255, 255, 0.7) !important;
}

.slick-prev{
	left: 0 !important;
}

.slick-next{
	right: 0 !important;
}

.footer-bottom, 
.crmEntityFormView .actions{
	padding: 0px;
}

.footer-logo{
	float: left;
}

.panel-heading{
	background-color: rgba(163, 26, 126, 0.75) !important;
	border-bottom-color: #42145f !important; 
}

.well{
	background: rgba(66, 20, 95, 0.75);
    color: white;
    font-weight: bold;
}

.list-group .list-group-item{
	background: rgba(66, 20, 95, 0.75);
	border-color: #42145f;
}

.list-group .list-group-item,
.alert-info .xrm-editable-text, 
.panel-heading .xrm-attribute-value-encoded,
.list-group .list-group-item .xrm-attribute-value-encoded{
	color: white;
    font-weight: bold;
}

.panel-heading .fa-lock,
.alert-info .fa,
.fa-exclamation-circle{
	color: white;
}

.alert-info .pull-right .btn-info,
.list-group .list-group-item:hover,
.list-group .list-group-item:focus{
	background: #42145f;
	border-color: #42145f;
	font-weight: bold;
}

.alert-info{
	background: rgba(66, 20, 95, 0.75);
	border-color: rgba(66, 20, 95, 0.75);
}

.change-login .list-group-item button{
	border-radius: 20px;
	background: rgba(163, 26, 126, 1) !important;
	color: white;
	font-weight: bold;
	border-color: rgba(163, 26, 126, 1) !important;
}



.block-messages-content .message-form {
	padding: 20px 20px 0px !important;
}

.slick-track script,
.crmEntityFormView .tab-column .info{
  display: none !important;
}

.contract-boxes-wrapper,
.contrat-slider-wrapper{
	margin-top: 159px !important;
}

.contract-item{
	background: rgba(55,55,55,0.2);
	text-align: center;
	border-radius: 5px;
	border: solid 2px white;
}

.contract-item-text{
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.8);
	padding-left: 10px
	color: #4d4d53;
	-webkit-transition: background-color 0.7s ease-out;
    -moz-transition: background-color 0.7s ease-out;
    -o-transition: background-color 0.7s ease-out;
    transition: background-color 0.7s ease-out;
}

.selected-contract .contract-item-text{
	background: rgba(66, 20, 95, 0.7);
	color: #FFFFFF;
}

.contract-multi-selection .contract-item{
  background-size: 100% 100% !important;
  background: url("http://www.cogedim-logement.com/sites/default/files/assets/images/18280_presentation_6.jpg");
  height: 140px;
}

.logo a{
	background: url("cgd_logo.png") !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	width: 204px !important;
	height: 102px !important;
}

.h4-min{
	font-size: 17px !important;
}

.field__items li a{
	margin-left: 0px;
}

.contract-multi-selection{
	margin: 35px 0px !important;
}

.wrapper-main-footer .container:before{
  	display: block;
  	width: 200px;
  	height: 50px;
  	background: url("cgd_bg_footer.jpg");
  	content: " ";
  	position: absolute;
  	left: 0;
  	top: -50px;
  	z-index: 200;
  	pointer-events: none; 
}

.error-message{
	padding-bottom: 10px;
}

.preface-bottom{
	position: absolute;
	width: 100%;
	left: 0;
}


.crmEntityFormView .tab-column{
	width: 100% !important;
}

.crmEntityFormView fieldset, .crmEntityFormView .tab, .crmEntityFormView .actions{
	margin: 0px;
}

.crmEntityFormView .actions{
	border-top: none;
}

.container{
	padding: 0px 15px !important;
}

.error{
	margin-bottom: 0px !important;
}

.wrapper-main-footer .container {
	position: relative;
	padding-top: 50px;
	padding-bottom: 40px;
}

.menu-bar .menu-bar-toggle,
.menu-expanded .menu-bar-toggle,
.block-cogedim-about .about-box .more-link a,
.block-contrat-info .downloads .download,
.block-messages-content .info .response .expand,
.menu-header .menu-header-toggle::before, 
.menu-header.expanded .menu-header-toggle::before,
.consult .btn::before, 
.error-message::before,
.top-bar .messages-notify a::before, 
.block-connexion .block-title::before,
.block-account-contracts .block-title::before,
.block-system-content .faq-items .item.faq::before,
.block-system-content .contact-items .item.phone .item-label::before,
.block-system-content .contact-items .item.schedule .item-label::before,
.block-contrat-additional .additional-icon a.icon-faq::before, 
.block-contrat-additional .additional-icon span.icon-faq::before,
.block-contrat-additional .additional-icon a.icon-documents::before, 
.block-contrat-additional .additional-icon span.icon-documents::before,
.block-contrat-additional .additional-icon a.icon-parrainage::before,
.block-contrat-additional .additional-icon span.icon-parrainage::before,
.block-contact-content .form-radios input#edit-field-type-of-contact-message + label::before,
.btn.btn-consult::before,
.btn.btn-consult-2::before,
.slick-prev::before,
.slick-next::before,
.form-connexion .form-identifiant::after, 
.form-connexion .form-mot-de-passe::after,
.block-contrat-lots .lot-title::after,
#Username::after,
.top-bar .bell > a::before{
	background-position: 0px !important;
	background-size: cover !important;
}

.change-password .item-label::after{
	content: '* ';
  	color: red;
  	white-space: nowrap;
}

.menu-header .menu-header-toggle::before, .menu-bar .menu-bar-toggle{
	background-image: url("cgd_open_mobile_menu.png");
}

.menu-header.expanded .menu-header-toggle::before, .menu-expanded .menu-bar-toggle{
	background-image: url("cgd_close_mobile_menu.png");
}

.consult .btn::before, .top-bar .messages-notify a::before,
.btn.btn-consult-2::before{
	background-image: url("cgd_contact.png");
}

.btn.btn-consult::before{
	background-image: url("cgd_contact_color.png");
}

.block-connexion .block-title::before{
	background-image: url("cgd_locker.png");
}

.form-connexion .form-identifiant::after, 
#Username::after{
	background-image: url("cgd_user.png");
}

.form-connexion .form-mot-de-passe::after{
	background-image: url("cgd_password_key.png");
}

.top-bar .bell > a::before{
	background-image: url("cgd_alert.png");
}

.cogedim-about-wrapper{
	background-image: url("cgd_bg_about.jpg");
}

.block-account-contracts .block-title::before{
	background-image: url("cgd_contract_logo.png");
}

.block-account-contracts::before{
	background-image: url("cgd_link_contracts.png");
}

.block-contract-boxes .contract-box::after,
.block-contrat-slider .contrat-slider-panel::after,
.preface-bottom::after{
	background-image: url("cgd_bg_preface.png");
}

.block-contract-boxes .contract-box::before,
.block-contrat-slider .contrat-slider-panel::before,
.preface-bottom{
	background-image: url("cgd_bg_preface_before.png");
}

.block-system-content .contact-items .item.phone .item-label::before{
	background-image: url("cgd_phone.png");
}

.block-system-content .contact-items .item.schedule .item-label::before{
	background-image: url("cgd_time.png");
}

.block-contrat-info .downloads .download{
	background-image: url("cgd_download.png");
}

.block-messages-content .message-row .info .response .expand{
	background-image: url("cgd_row_not_expanded");
}

.block-messages-content .message-row.expanded .info .response .expand{
	background-image: url("cgd_row_expanded");
}

.block-contrat-additional .additional-icon a.icon-faq::before, 
.block-contrat-additional .additional-icon span.icon-faq::before,
.block-system-content .faq-items .item.faq::before{
	background-image: url("cgd_question.png");
}

.block-contrat-additional .additional-icon a.icon-documents::before, 
.block-contrat-additional .additional-icon span.icon-documents::before{
	background-image: url("cgd_notepad.png");
}

.block-contrat-additional .additional-icon a.icon-parrainage::before, 
.block-contrat-additional .additional-icon span.icon-parrainage::before{
	background-image: url("cgd_parrain.png");
}

.block-contact-content .form-radios input#edit-field-type-of-contact-message + label::before{
	background-image: url("cgd_message.png") !important;
}

.block-contrat-lots .lot-title::after{
	background-image: url("cgd_arrow_down.png") !important;
}

.wrapper-home-articles::before{
	background-image: url("cgd_article.jpg") !important;
}

.wrapper-home-banner{
	background-image: url("cgd_logements.jpg") !important;
}

.block-contrat-lots .expanded .lot-title::after{
	background-image: url("cgd_arrow_up.png") !important;
}

.slick-prev::before{
	background-image: url("cgd_arrow_left.png") !important;
}

.slick-next::before{
	background-image: url("cgd_arrow_right.png") !important;
}

.error-message::before {
	background-image: url("cgd_danger.png");
}

.video-player img, .video-player iframe {
	height: 180px;
}

@media (min-width: 768px){
	.youtube-field-player{
		height: 445px !important;
	}
}

@media (min-width: 610px) and (max-width: 991px) {

  	.toolbar-fixed .header-scrolled {
    	position: fixed;
    	top: 39px; 
	} 
}

@media (min-width: 992px) {

  	.header-scrolled .logo {
    	height: 66px; 
    }
    
    .header-scrolled .logo a {
      	width: 132px !important;
      	height: 66px !important;
      	background-size: 132px 66px; 
  	}

  	.header-wrapper, .main-header-wrapper::before{
		background-image: url("cgd_beta_logo_desktop.png");
		background-repeat: no-repeat;
	}

	.block-cogedim-about .about-box .more-link a {
		background-image: url("cgd_more_links.png");
	}

	.block-404-content{
		background: url("cgd_error_404.png") 206px 145px no-repeat;
	}

	.page-header-wrapper {
		padding: 159px 0 53px;
	}

	body[data-sitemap-state="/page-not-found/:/"] #block-pagetitle{
		padding: 83px 0 53px;
	}
}

@media (min-width: 0) and (max-width: 991px) {

  	.logo a {
        width: 132px !important;
        height: 66px !important;
        background-size: 132px 66px; 
    }

    .header-wrapper, .main-header-wrapper:before{
		background-image: url("cgd_beta_logo_mobile.png");
		background-repeat: no-repeat;
	}

	.block-404-content{
		background: url("cgd_error_404_mobile.png") center 70px no-repeat;
	}

	.page-header-wrapper {
		padding: 85px 0px 65px;
	}

	.form-horizontal{
		padding: 0px 15px;
	}

	#user-login-form{
		margin-left: 15px;
	}

	body[data-sitemap-state="/page-not-found/:/"] #block-pagetitle{
		padding: 28px 0px;
	}
}